.btn {
    margin-right: 5px;
    border: 1px solid;
    padding: 0 10px;

    &.create {
        border: none;
        padding: none;
    }

    &.update {
        border: 0;
        color: blue;
    }

    &.delete {
        border: 0;
        color: red;
        margin: 0;
    }

    &.move {
        margin: 0;
        border: 0;
    }

    &.modalupdate {
        width: 100%;
        border: 0;
        padding: 10px;
    }
}

.td_input {
    width: 100%;
}

.boundary {
    border-top: 1px solid #ebebeb;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}