$width-size: 750px;

.td_input {
    outline: none;
}

.btn {

    &.delete {
        color: red;
    }

    &.mypage {
        border: 2px solid;
        padding: 10px;
        margin-right: 10px;
        font-weight: bold;
        color: purple;
    }
}