@import "@/assets/scss/tool.scss";

.section {
    background: #b7b7b7;

    .todoview {
        width: $defalut-width;
        margin: 0 auto;

        .memo_create {
            display: flex;
            flex-wrap: nowrap;
            background: $tool-bg;

            .input_box {
                width: 100%;
                outline: none;
            }

            .btn_create {
                font-size: 26px;
                padding: 0;
                margin-right: 5px;
            }
        }

        .memolist {
            background: $tool-bg;

            li {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                border: 1px solid #eee;

                &:last-child {
                    margin: 0;
                }
            }

            .empty {
                padding: 40px;
                text-align: center;
            }
        }
    }
}